<h2>Login</h2>
<div class="card">
    <div class="card-body">
        <form action="/admin/login" method="post">
            <label for="email">email: </label>
            <input class="form-control" type="text" name="email" id="email">
            <label for="senha">senha: </label>
            <input class="form-control" type="password" name="senha" id="senha">
            <button type="submit" style="width: 100px;" class="btn btn-primary mt-4" >Logar</button>
            <a href="/" style="width: 100px;"><button type="button" class="btn btn-secondary mt-4" >Cancelar</button></a>
        </form>
    </div>
</div>